.my-svg {
  max-height: 75px;
}

.my-font {
  font-family: 'Gloria Hallelujah', cursive;
}

.my-header {
  min-height: 10vh;
}

.hero-img {
  background-image: url("https://images.unsplash.com/photo-1605649461784-7d5e4df56c97?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2370&q=80");
  background-size: cover;
  background-position: center;
  min-height: 60vh;
}

.glass-card {
  background-color: rgba(0, 0, 0, 0.299);
  border-radius: 5px;
  padding: .25em;
  max-height: 18vh;
  max-width: 40vw;
}

.message-input {
  min-height: 6em;
}

.name-vh {
  min-height: 25vh;
}

.crocs-img {
  width: 80%;
  position: center;
  border-radius: 5px;
}


.larger-card {
  min-height: 25vh;
}

.smaller-card {
  max-height: 20vh;
}

.my-light-bg {
  background-color: #eaeaea;
}

.review-row-height {
  min-height: 45vh;
}

.croc-vid {
  max-width: 100%;
  position: center;
  border-radius: 5px;
}

.my-footer {
  min-height: 10vh;
}

@keyframes form {
  0% {
    left: 0px;
  }

  100% {
    left: -1200px;
  }
}

@media (min-width: 768px) {

  .offset-container {
    position: relative;
  }

  .offset-card {
    position: absolute;
    right: 50px;
    bottom: -130px;
  }

  .my-form-animation {
    animation-name: form;
    position: relative;
    animation-duration: 1s;
    animation-timing-function: ease;
    animation-direction: reverse;
  }

  .zoom:hover {
    transform: scale(1.1);
  }

  .crocs-img {
    width: 20vw;
    height: auto;
    position: center;
  }

}